html,body {
    margin:0px;
    padding:0px;
}
#header{
    display:flex;
    justify-content:center;
    background-color: #c2adc4;
    height:10em;
    width: fill;
}

#name{
    height:15em;
    width: 15em;

}

#toolbar{
    background-color: #90678d;
    height:5em;
    width: fill;
    display:flex;
    justify-content:space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    color:white;
    font-size: 1em;
    align-items:center;
    padding-left: 6em;
    padding-right:6em;
}

#songs{
    color:white;
    text-decoration:none;
    box-shadow:none;
}

#home{
    color:white;
    text-decoration:none;
    box-shadow:none;
}

#home:hover{
    color:#c2adc4;
    transform: scale(1.1);
}

a:link{
    text-decoration:none;
}
#songs:hover{
    color:#c2adc4;
    transform: scale(1.1);
}

#contact:hover{
    color:#c2adc4;
    transform: scale(1.1);
}

#socials{
    display:flex;
    justify-content:space-between;
    width: 8em;
    justify-content:center;
    
}
#insta{
    height: 1.5em;
    margin:0.5em;
    flex:1;
}

#insta:hover{
    transform: scale(1.2);
}


#yt{
    height: 1.5em;
    margin:0.5em;
    flex:1;
}

#yt:hover{
    transform: scale(1.2);
}

#soundcloud{
    height: 1.5em;
    margin:0.5em;
    flex:1;
}

#soundcloud:hover{
    transform: scale(1.2);
}

#Intro{
    display:flex;
    justify-content:center;
}

#Profile{
    flex:0.5;
    max-width: 45%;
    height: 40em;
    object-fit: cover;
}

#container{
    flex:1;
    background-color:#c2adc4;
    justify-content:center;
    align-items:center;
}

#bio{
    justify-content:center;
    
    height: 10em;
    padding:5em;
    text-align:center;
    font-family:'Titillium Web', sans-serif;
    font-style:italic;
    color:white;
}

#listen{
    justify-content:center;
    text-align:center;
    padding: 1em;
    border: solid 2px #90678d;
    height: 1em;
    width: 5em;
    font-family:Impact;
    color:white;
}

#listen:hover{
    color:#90678d;
    transform: scale(1.1);
}

#row{
    display:flex;
    justify-content:center;
    align-items:center;
    width: fill;
    height: 8em;
    padding: 2em;
    
}

#srow{
    display:flex;
    background-color: #c2adc4;
    height: 13em;
    width: fill;
    padding:2em;
    justify-content:space-around;
}

#song{
    display:flex;
    background-color:white;
    height:10em;
    width:22em;
    padding:1em;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
}

#block{
    align-items: center;
    width: 12em;
    height:8em;
    padding-top:1em;
    padding-inline:2em;
    justify-content:center;

}

#cover{
    height:10em;
    width:10em;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
}

#title{
    text-align:center;
    font-family:'Titillium Web', sans-serif;
    font-style:italic;
    color:#90678d;

}

#play{
    justify-content:center;
    text-align:center;
    padding: 0.5em;
    border: solid 1px #90678d;
    height: 1em;
    width: 3em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color:#90678d;
    margin:1em;
    margin-left:2em;
}

#play:hover{
    color:#90678d;
    transform: scale(1.1);
}

