html,body {
    margin:0px;
    padding:0px;
}
#header{
    display:flex;
    justify-content:center;
    background-color: #c2adc4;
    height:10em;
}

#name{
    height:15em;
    width: 15em;

}

#toolbar{
    background-color: #90678d;
    height:5em;
    width: fill;
    display:flex;
    justify-content:space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    color:white;
    font-size: 1em;
    align-items:center;
}

#socials{
    display:flex;
    justify-content:space-between;
    width: 8em;
    justify-content:center;
    
}
#insta{
    height: 1.5em;
    margin:0.5em;
    flex:1;
}

#insta:hover{
    transform: scale(1.2);
}


#yt{
    height: 1.5em;
    margin:0.5em;
    flex:1;
}

#yt:hover{
    transform: scale(1.2);
}

#soundcloud{
    height: 1.5em;
    margin:0.5em;
    flex:1;
}

#soundcloud:hover{
    transform: scale(1.2);
}





